{{define "admin/list_post.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>管理后台</title>
        <link rel="stylesheet" href="/static/css/uikit.min.css" />
    </head>
    <body>
    {{template "admin/tab.html"}}
    <div class="uk-section">
        <div class="uk-container">
            {{ if .msg }}
                <div class="uk-alert-success" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{.msg}}</p>
                </div>
            {{end}}


            <ul class="uk-tab">
                <li class="uk-active"><a href="/admin/posts">List({{.post_count}})</a></li>
                <li><a href="/admin/post/new">Create</a></li>
            </ul>
            <table class="uk-table uk-table-hover uk-table-divider">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th class="uk-table-expand">Title</th>
                        <th>Tag</th>
                        <th>Author</th>
                        <th>Created_at</th>
                        <th>Published</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                {{ range .posts }}
                    <tr>
                        <td>
                            <a href="/admin/post/edit/{{.ID}}">
                                <span uk-icon="file-edit"></span>
                            </a>
                            <a class="delete" data-url="/admin/post/delete/{{.ID}}" data-id={{.ID}}>
                                <span uk-icon="trash"></span>
                            </a>
                        </td>
                        <td>{{ .ID }}</td>
                        <td>{{ .Title }}</td>
                        <td>
                            {{ range $K, $V := .Tags }}
                                <a href="">{{$V.Name}}</a>
                            {{end}}
                        </td>
                        <td>
                            <a href="">{{ .GetUserName .AuthorID}}</a>
                        </td>
                        <td>
                            {{dateFormat .CreatedAt "2006-01-02 15:04" }}
                        </td>
                        <td>
                            <label class="uk-switch">
                                <input type="checkbox" data-url="/api/publish/:{{.ID}}" {{if .Published}} checked {{end}}>
                                <div class="uk-switch-slider uk-switch-on-off round"></div>
                            </label>
                        </td>
                        <td><a href="" class="uk-button uk-button-primary uk-button-small" target="_blank">Preview</a></td>
                    </tr>
                {{end}}
                </tbody>
            </table>
            <ul class="uk-pagination uk-flex-center">
                {{ if .pagination.HasPrev }}
                <li><a href="/admin/posts/page/{{.pagination.PrevNum}}"><span uk-pagination-previous></span></a></li>
                {{end}}
                {{$Pagination := .pagination}}
                {{$PageRet := $Pagination.PageRet }}
                {{$CurrentPage := $Pagination.CurrentPage }}
                {{ range $k,$v := $PageRet}}
                    {{ if ne $v -1 }}
                        {{ if eq $v  $CurrentPage }}
                            <li class="uk-active"><span>{{$v}}</span></li>
                        {{else}}
                            <li><a href="/admin/posts/page/{{$v}}">{{$v}}</a></li>
                        {{end}}
                    {{else}}
                        <li class="uk-disabled"><span>...</span></li>
                    {{end}}
                {{end}}

                {{ if $Pagination.HasNext }}
                    {{$NextNum := $Pagination.NextNum }}
                    <li><a href="/admin/posts/page/{{$NextNum}}"><span uk-pagination-next></span></a></li>
                {{end}}
            </ul>

        </div>
    </div>

    {{template "admin/page_end.html"}}
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="/static/dist/base.js"></script>
    <script src="/static/dist/post_list.js"></script>
    <script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>
    </body>
    </html>
{{end}}