{{ define "admin/page_end.html" }}
    <div class="uk-section uk-section-primary uk-preserve-color footer">
        <div class="uk-container uk-container-center uk-text-center">
            <ul class="uk-subnav uk-subnav-line uk-flex-center">
                <li><a href="https://github.com/pythonsite/lyanna">GitHub</a></li>

            </ul>
            <div class="uk-panel">
                <p>Made by <a href="https://github.com/gin-gonic/gin" target="_blank">Gin</a>、<a href="https://getuikit.com" target="_blank">Uikit</a></a>
                </p>
            </div>
        </div>
    </div>
{{ end }}