<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/uikit.min.css" />
    <title>aaa</title>
{{/*    ${ self.doc_head() }*/}}
</head>
<body>

<div class="uk-container">
    <div class="uk-card uk-card-body uk-card-primary">
        <h3 class="uk-card-title">Example headline</h3>

        <button class="uk-button uk-button-default" uk-tooltip="title: Hello World">Hover</button>
    </div>
</div>
<script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>
<script src="/static/dist/base.js"></script>
</body>
</html>