{{define "front/footer.html"}}
    <footer class="footer text-center">
        <div id="bottom-inner">
            <a class="bottom-item" href="/">首页</a> |
            <a class="bottom-item" href="https://github.com/pythonsite/lyanna" target="_blank">GitHub</a> |
            Powered by <a href="https://github.com/gin-gonic/gin" target="_blank">Gin</a> And other Gin extensions
        </div>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148754726-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-148754726-1');
    </script>


{{end}}