{{define "front/footer.html"}}
    <footer class="footer text-center">
        <div id="bottom-inner">
            <a class="bottom-item" href="/">首页</a> |
            <a class="bottom-item" href="https://github.com/dongweiming/lyanna" target="_blank">GitHub</a> |
            Powered by <a href="https://github.com/huge-success/sanic" target="_blank">Sanic</a>、<a href="https://github.com/dongweiming/sanic-mako" target="_blank">SanicMako</a> And other Sanic extensions
        </div>
    </footer>
{{end}}