{{define "front/errors.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fan's Blog</title>
    {{template "front/head.html"}}
</head>
<body>

    {{template "front/menu.html"}}
    <div class="container" id="content-outer">
        <div class="inner" id="content-inner">
            <div class="recent-posts">
                {{ range .posts }}
                <article class="recent-post-item">
                    <a class="title" href="/post/{{.ID}}"><h2>{{.Title}}</h2></a>
                    <div class="post-meta">
                        <time class="time" datetime="{{dateFormat .CreatedAt "2006-01-02 15:04:05" }}">
                            {{dateFormat .CreatedAt "2006-01-02 15:04" }}
                        </time>
                        <span class="slash">/</span>
                        {{$PTGS := .Tags }}
                        <ul class="index-tag-list">
                            {{ range $k,$v := $PTGS}}
                            <li class="index-tag-list-item"><a class="index-tag-list-link" href="/tag/{{$v.ID}}">{{$v.Name}}</a></li>
                            {{end}}
                        </ul>
                    </div>
                    <div class="post-excerpt">
                        <p>{{.Excerpt}}</p>
                    </div>

                    <a class="more" href="/post/{{.ID}}"> 阅读全文 〉</a>
                </article>
                {{end}}
            </div>
        </div>
        <nav class="page-nav text-center">
            {{ if .pagination.HasPrev }}
            <a class="extend prev" rel="prev" href="/pages/{{.pagination.PrevNum}}">〈</a>
            {{end}}
            {{$Pagination := .pagination}}
            {{$PageRet := $Pagination.PageRet }}
            {{$CurrentPage := $Pagination.CurrentPage }}
            {{ range $k,$v := $PageRet}}
                {{ if ne $v -1 }}
                    {{ if eq $v  $CurrentPage }}
                        <span class="page-number current">{{$v}}</span>
                    {{else}}
                        <a class="page-number" href="/pages/{{$v}}">{{$v}}</a>
                    {{end}}
                {{else}}
                    <span class=ellipsis>…</span>
                {{end}}
            {{end}}
            {{ if $Pagination.HasNext }}
                {{$NextNum := $Pagination.NextNum }}
                <a class="extend next" rel="next" href="/pages/{{$NextNum}}">〉</a>
            {{end}}
        </nav>


    </div>
    {{template "front/footer.html"}}

</body>
</html>
{{end}}