{{define "front/menu.html"}}
    <div class="nav-container">
        <nav class="home-menu pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="/">
                <span class="title">赵凡的博客</span>
            </a>
            <ul class="pure-menu-list clearfix">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">首页</a></li>
                <li class="pure-menu-item"><a href="/archives" class="pure-menu-link">归档</a></li>
                <li class="pure-menu-item"><a href="/tags" class="pure-menu-link">标签</a></li>
                <li class="pure-menu-item"><a href="/search" class="pure-menu-link">搜索</a></li>
                <li class="pure-menu-item"><a href="/page/aboutme" class="pure-menu-link">关于</a></li>
                <li class="pure-menu-item"><a href="/atom.xml" class="pure-menu-link">订阅</a></li>
            </ul>
        </nav>
    </div>
{{end}}