{{define "front/post.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
    {{template "front/head.html"}}
    <meta name="post_id" content="{{.post.ID}}">
    <link rel="stylesheet" href="/static/css/gitment.css">
</head>
<body>
    {{template "front/menu.html"}}
    <div class="container" id="content-outer">
        <div class="inner" id="content-inner">
            <div class="post-container">
                <article class="post" id="post">
                    <header class="post-header text-center">
                        <h1 class="title">{{.post.Title}}</h1>
                        <span>
                            <time class="time" datetime="{{dateFormat .post.CreatedAt "2006-01-02 15:04:05" }}">
                              {{dateFormat .post.CreatedAt "2006-01-02 15:04" }}
                            </time>
                         </span>
                        <span class="slash">/</span>
                        <span class="post-meta">
                            <span class="post-tags">
                              <ul class="article-tag-list">
                                 {{range $k,$v := .post.Tags}}
                                    <li class="article-tag-list-item">
                                      <a class="article-tag-list-link" href="/tag/{{$v.ID}}">{{$v.Name}}</a>
                                    </li>
                                {{end}}
                              </ul>
                            </span>
                      </span>
                    </header>

                    <div class="post-content">
                        {{ .contentHtml }}
                    </div>

                </article>
                <div class="toc-container"></div>
            </div>

            {{ template "front/comment.html" . }}

            <div class="copyright">
                <span>本作品采用</span>
                <a href="https://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a>
                <span>进行许可。 转载时请注明原文链接。</span>
            </div>
        </div>

    </div>
    {{template "front/footer.html"}}
    <script src="/static/dist/comment.js"></script>
</body>
</html>
{{end}}